In [116]:
import pandas as pd
import torch
import numpy as np

In [117]:
data = pd.read_csv("../Current_Data/New_data.csv", usecols=['Country','Date','Cases','Deaths','Summary'])
data.head()

,Country,Date,Cases,Deaths,Summary
0,Benin,12/30/13,11,0.0,Two districts crossed the alert threshold at t...
1,Burkina Faso,12/30/13,88,13.0,Two districts crossed the alert threshold at t...
2,Côte d'Ivoire,12/30/13,3,2.0,Two districts crossed the alert threshold at t...
3,Ghana,12/30/13,3,0.0,Two districts crossed the alert threshold at t...
4,Mali,12/30/13,0,0.0,Two districts crossed the alert threshold at t...

In [118]:
country_list = ['Benin', 'Burkina Faso', 'Burundi', 'Cameroun', 'Centrafrique', "Côte d'Ivoire", 'Ethiopia', 'Ghana',
               'Guinea', 'Guinée Bissau', 'Gambia', 'Kenya', 'Mali', 'Mauritania', 'Niger', 'Nigeria', 'RD Congo', 
                'Senegal' , 'South Sudan', 'Sudan', 'Sierra Lone', 'Tanzania', 'Tchad', 'Togo', 'Uganda']
bordering_countries = {"Benin": ["Togo", "Nigeria", "Niger", "Burkina Faso"], 
                       "Burkina Faso": ["Mali", "Niger", "Benin" ,"Togo", "Ghana", "Côte d'Ivoire"], 
                       "Burundi": ["RD Congo", "Tanzania"], 
                       "Cameroun": ["Centrafrique", "Nigeria", "Guinea", "Tchad"], 
                       "Centrafrique": ["Cameroun", "Sudan", "South Sudan","RD Congo", "Tchad"], 
                       "Côte d'Ivoire": ["Ghana", "Mali", "Burkina Faso"], 
                       "Ethiopia": ["Sudan", "South Sudan", "Kenya"], 
                       "Ghana":["Guinea", "Côte d'Ivoire", "Burkina Faso", "Togo"], 
                       "Guinea":["Côte d'Ivoire", "Guinée Bissau", "Mali", "Senegal", "Sierra Lone"], 
                       "Guinée Bissau": ["Senegal", "Guinea"], 
                       "Gambia":["Senegal"], 
                       "Kenya": ["Ethiopia", "South Sudan", "Uganda"],
                       "Mali": ["Niger", "Burkina Faso", "Côte d'Ivoire", "Guinea", "Mauritania", "Senegal"], 
                       "Mauritania":["Mali", "Senegal"], 
                       "Niger": ["Benin", "Nigeria", "Burkina Faso", "Mali", "Tchad"], 
                       "Nigeria": ["Benin", "Cameroun", "Niger", "Tchad"], 
                       "RD Congo": ["Burundi", "Centrafrique", "South Sudan", "Tanzania", "Uganda"], 
                       "Senegal":["Gambia", "Guinea", "Guinée Bissau", "Mali","Mauritania"], 
                       "South Sudan":["Sudan", "Ethiopia", "Kenya", "RD Congo", "Uganda","Centrafrique"], 
                       "Sudan":["Ethiopia", "South Sudan", "Centrafrique", "Tchad"], 
                       "Sierra Lone": ["Guinea"], 
                       "Tanzania":["Kenya", "Uganda", "Burundi", "RD Congo"], 
                       "Tchad":["Sudan", "Centrafrique", "Cameroun", "Niger", "Nigeria"], 
                       "Togo":["Ghana", "Burkina Faso","Benin", "Guinea"],
                       "Uganda":["Kenya", "South Sudan", "RD Congo", "Tanzania"]}
#this lambda function returns the index of the country from the corresponding country_list array
get_indices = lambda x: country_list.index(str(x).rstrip())

In [119]:
#creates a list of bordering countries for each datapoint with the countries represented as indices of country_list array
data_bordering_countries = pd.DataFrame(data["Country"].apply(lambda x: 
                                                              list(
                                                                  map(get_indices, 
                                                                      bordering_countries[str(x).rstrip()]))
                                                                   ))
data.insert(5, "Bordering Countries", data_bordering_countries)
#replace country names in country column with corresponding indices from country_list array
data["Country"] = data["Country"].apply(lambda x: country_list.index(str(x).rstrip()))
data.head()

,Country,Date,Cases,Deaths,Summary,Bordering Countries
0,0,12/30/13,11,0.0,Two districts crossed the alert threshold at t...,"[23, 15, 14, 1]"
1,1,12/30/13,88,13.0,Two districts crossed the alert threshold at t...,"[12, 14, 0, 23, 7, 5]"
2,5,12/30/13,3,2.0,Two districts crossed the alert threshold at t...,"[7, 12, 1]"
3,7,12/30/13,3,0.0,Two districts crossed the alert threshold at t...,"[8, 5, 1, 23]"
4,12,12/30/13,0,0.0,Two districts crossed the alert threshold at t...,"[14, 1, 5, 8, 13, 17]"